// Microsoft Visual C++ generated resource script.
//
#include "src/version.h"
#include "WinResrc.h" //"afxres.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
// Version

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    VER_RCHHDRRSR_MAJOR,VER_RCHHDRRSR_MINOR_HI,VER_RCHHDRRSR_MINOR_LO,VER_RCHHDRRSR_PATCH
 PRODUCTVERSION VER_RCHHDRRSR_MAJOR,VER_RCHHDRRSR_MINOR_HI,VER_RCHHDRRSR_MINOR_LO,VER_RCHHDRRSR_PATCH
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "This work is licensed under the CC0 1.0 Universal License."
            VALUE "CompanyName", "Muldersoft <mulder2@gmx.de>"
            VALUE "FileDescription", "Rich-Header Eraser"
            VALUE "FileVersion", VER_RCHHDRRSR_STR
            VALUE "InternalName", "rchhdrrsr"
            VALUE "LegalCopyright", "Created by LoRd_MuldeR <mulder2@gmx.de>"
            VALUE "LegalTrademarks", "This work is licensed under the CC0 1.0 Universal License."
            VALUE "OriginalFilename", "rchhdrrsr.exe"
            VALUE "ProductName", "Rich-Header Eraser"
            VALUE "ProductVersion", VER_RCHHDRRSR_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////
